body{
    background-image: url('https://www.cefii-developpements.fr/guillaume1284/SESSION/public/images/fond.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:rgb(255, 255, 255);
}

a, a:hover{
    text-decoration: none;
    color:rgb(219, 178, 178);
}
.fond{
    width: 10em;
}
h4,h5{
    text-align: center ;
}
h5{
    display: block;
    margin: auto;
}
.avatarindex{
    display: flex;
}
p{
    padding-left: 1em;
}