body{
    background-image: url('public/images/fond.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:rgb(58, 58, 58);
}

.fond{
    width: 10em;
}